<h1>{{ citizen.citizen }}</h1>

{% if error_message %} <p><strong>{{ error_message }}</p></strong>{% endif %}

<form action="{{ url('test:vote', args=[citizen.id,]) }}" method="post">
{{ csrf_input }}
{% for person in citizen.person_set.all() %}
	<input type="radio" name="person" id="person{{ loop.index }}" value="{{ person.id }}">
	<label for="person{{ loop.index }}">{{ person.name }}</label><br>
{% endfor %}
<br>
<input type="submit" value="Vote">
<br>
<a href="{{ url('test:index') }}">main</a>
</form>

